@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}
p{
  color: #777777;
}

.custom-carousel-cover img{
  height: 40.625rem;
  object-fit: cover;
  object-position: top;
}
.custom-overly{
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.8));
  z-index: 50;
}
.custom-carousel-control{
  z-index: 100;
}
.custom-text-justify{
  text-align: justify;
}
.custom-footer-bg{
  background: #161616;
}



/* Large Screen */
@media only screen and (min-width: 992px) {
  .customize-w-75{
    width: 75%;
    margin: 0 auto;
  }
}